<div class="container listaAPI">
  <h2 class="mb-4">{{ titulo }}</h2>

  <form (ngSubmit)="buscarPersonaje()" class="form-inline">
    <div class="form-group mr-2">
      <label for="personajeNumero" class="mr-2">Buscar por número de personaje:</label>
      <input type="number" id="personajeNumero" [(ngModel)]="numeroPersonaje" name="numeroPersonaje" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Buscar</button>
  </form>

  <ul class="list-group">
    <li *ngFor="let item of data" class="list-group-item d-flex align-items-start">
      <img src="{{ item.image }}" alt="{{ item.name }}" width="150" height="150" class="me-3 p-2">
      <div>
        <span class="me-3 p-2">{{ item.name }}</span>
        <div class="mb-2 p-2">{{subTitulo}}</div>
        <ul class="episodes">
          <li *ngFor="let episode of item.episodeNames" class="episode">{{ episode }}</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
